/* BUTTONS */

.button-line {
   background-color: $color-white;
   border-radius: 3px;
   font-family: $font-title;
   font-weight: 400;
   font-size: 1.2rem;
   text-transform: uppercase;

   &--blue {
      border: 2px solid $color-blu;
      color: $color-blu;
   }

   &--small {
      padding: 0.8rem 2.2rem;
      margin: 1.2rem 0;
   }

   &--large {
      width: 24rem;
      padding: 1.6rem 0;
   }

   &--all-grey {
      border: none;
      background-color: $color-medium-grey;
      color: $color-white;
      width: 19.7rem;
      padding: 1.6rem 0;
      margin-right: 3.2rem;
   }

   &--grey {
      border: 2px solid $color-medium-grey;
      color: $color-medium-grey;
      width: 14.9rem;
      padding: 1.6rem 0;
   }
}

.button-fill {
   width: 28.9rem;
   height: 5.6rem;
   background-image: linear-gradient(90deg, #E36C05, #E03006);
   font-family: $font-title;
   font-weight: bold;
   font-size: 1.8rem;
   color: $color-white;
   text-transform: uppercase;
   border: none;
   border-radius: 2px;

   &:hover {
      box-shadow: 1px 1px 2px $color-dark-grey;
   }
}